* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #222;
    color: white;
}

.header {
    width: 100%;
    border-bottom: 2px solid #32b9cd;
    height: 100px;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar li {
    margin-right: 10px;
}

/* BANNER */
.banner{
    height: 300px;
    background-image: url("imagens/bg-jelly-fish-para_outras_pags.png");
}

.banner .container{
    justify-content: center;
}

.banner .container p{
    font-size: 36px;
    width: 200px;
}

/* SOCIAL */

.social{
    height: 500px;
    background-color: #e5e5e5;
    padding: 40px 0;
}

.social .container .card{
    width: 200px;
    color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 390px;
    justify-content: space-between;
}


.social .container .card img{
    width: 200px;
}

.social .container .card h4{
   font-size: 24px;
}